<!-- Delete Video Modals -->
<div class="modal fade" id="deleteVideoModal{{ lesson.id }}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Video</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the current video file?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method="post" action="{% url 'courses:delete_lesson_video' course_slug=course.slug module_id=module.id lesson_id=lesson.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete Video</button>
                </form>
            </div>
        </div>
    </div>
</div>