<footer class="bg-dark text-light py-4 mt-auto">
    <div class="container">
        <div class="row tox-dialog__body-content--centered">
            <div class="col-md-4">
                <h5>LearnOnline</h5>
                <p>Empowering learners worldwide with quality education.</p>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <div class="d-flex justify-content-start align-items-center gap-4">
                    <a href="#" class="text-light fs-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-light fs-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-light fs-3"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-light fs-3"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <address>
                    <strong>Email:</strong> info@learnonline.com<br>
                    <strong>Phone:</strong> +1 (123) 456-7890
                </address>
            </div>
        </div>
        <div class="text-center mt-4">
            <p>&copy; 2025 LearnOnline. All rights reserved.</p>
        </div>
    </div>
</footer>
